{% if ARCH == "aarch64" %}
  <not>
    <or>
      <hostname op="like" value="hpe-apollo-cn99xx%"/>
      <hostname op="like" value="hpe-moonshot%"/>
      <hostname op="like" value="hpe-apache-cn99xx%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "x86_64" %}
  <not>
    <or>
      <hostname op="like" value="dell-per630-fc%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "ppc64le" %}
  <not>
    <or>
      <hostname op="like" value="ibm-p8-rhevm-01.khw2.lab.eng.bos.redhat.com"/>
      <hostname op="like" value="ibm-p8-rhevm-03.lab2.eng.bos.redhat.com"/>
      <hostname op="like" value="ibm-p8-rhevm-04.lab2.eng.bos.redhat.com"/>
      <hostname op="like" value="ibm-p8-rhevm-13.pnr.lab.eng.rdu2.redhat.com"/>
      <hostname op="like" value="ibm-p8-rhevm-14.pnr.lab.eng.rdu2.redhat.com"/>
      <hostname op="like" value="ibm-p8-16.pnr.lab.eng.rdu2.redhat.com"/>
      <hostname op="like" value="ibm-p8-17.pnr.lab.eng.rdu2.redhat.com"/>
    </or>
  </not>
{% endif %}
