{# Exclude machines where virt tests are unsupported #}
{% if ARCH == "aarch64" or ARCH == "x86_64" %}
  <and>
    <cpu_count op="&gt;" value="8"/>
    <hypervisor op="=" value=""/>
  </and>
{% endif %}
{% if ARCH == "ppc64le" %}
  <and>
    <cpu_count op="&gt;" value="16"/>
  </and>
{% endif %}
{% if ARCH == "s390x" %}
  <and>
    <hostname op="like" value="s390x-kvm-%.lab.eng.rdu2.redhat.com"/>
  </and>
{% endif %}
